<div class="bg-light mt-4 pt-4 pb-4 bg-tennis-img">
    <div class="container">
        
        <div class="row text-center border-bottom border-dark">
            <div class="col-12 col-md-4">
                <img src="inmobiliaria.png" alt="LogoTenis">
            </div>
            <div class="col-12 col-md-4">
                <img src="refresco.png" alt="LogoTenis">
            </div>
            <div class="col-12 col-md-4">
                <img src="coche.png" alt="LogoTenis">
            </div>
        </div>

        <p class="text-center mt-3"><b><i>Sponsors oficiales del Club de Tenis</i></b></p>

    </div>

</div>

<div class="container mt-3 mb-1 footer-clicks">
    <div class="row text-center">
        <div class="col-12 col-md-4 pb-2">
            <h6 class="pb-2">EL CLUB</h6>
            <p (click)="navigateToClubSobreNosotros()">Sobre nosotros</p>
            <p>¡Apúntate!</p>
        </div>
        <div class="col-12 col-md-4 pb-2">
            <h6 class="pb-2">CONTACTO</h6>
            <p>info&#64;clubdetenis.com</p>
            <p>Tel. +34 600 010 001</p>
        </div>
        <div class="col-12 col-md-4 pb-2">
            <h6 class="pb-2" >LEGALIDAD</h6>
            <p>Política de Privacidad</p>
            <p>Política de Cookies</p>
            <p>&copy; 2024 - Club de Tenis</p>
        </div>
    </div>
</div>


