<nav class="navbar bg-light fixed-top navbar-expand-lg p-0 border-bottom">
    <div class="container">

        <!-- Logo -->
        <img src="logorp.jpg" alt="Logo" style="height: 40px;">

        <!-- Toggle Btn -->
        <button 
            class="navbar-toggler shadow-none border-0" 
            type="button" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Sidebar -->
        <div 
            class="sidebar offcanvas offcanvas-start" 
            tabindex="-1" 
            id="offcanvasNavbar" 
            aria-labelledby="offcanvasNavbarLabel"
        >

        <!-- Sidebar Header -->
        <div class="offcanvas-header border-bottom">
            <h5 
                class="offcanvas-title" 
                id="offcanvasNavbarLabel">
                Club de Tenis
            </h5>

            <button 
                type="button" 
                class="btn-close" 
                data-bs-dismiss="offcanvas" 
                aria-label="Close">
            </button>
        </div>

        <!-- Sidebar Body -->
        <div class="offcanvas-body d-flex p-4 flex-column flex-lg-row p-lg-0">

            <ul class="navbar-nav d-flex justify-content-center fs-6 flex-grow-1 text-center text-sm-start">
                <li class="nav-item mx-2 d-flex flex-row flex-lg-column align-items-center pt-2">
                    <i class="fa-solid fa-house me-2 me-lg-0"></i>
                    <a class="nav-link" href="#elclub">EL CLUB</a>
                </li>
                <li class="nav-item mx-2 d-flex flex-row flex-lg-column align-items-center pt-2">
                    <i class="fa-solid fa-trophy me-2 me-lg-0"></i>
                    <a class="nav-link" href="#campeonatos">CAMPEONATOS</a>
                </li>
                <li class="nav-item mx-2 d-flex flex-row flex-lg-column align-items-center pt-2">
                    <i class="fa-solid fa-newspaper me-2 me-lg-0"></i>
                    <a class="nav-link" href="#noticias">NOTICIAS</a>
                </li>
                <li class="nav-item mx-2 d-flex flex-row flex-lg-column align-items-center pt-2">
                    <i class="fa-solid fa-star me-2 me-lg-0"></i>
                    <a class="nav-link" href="#patrocinadores">PATROCINADORES</a>
                </li>
                <li class="nav-item mx-2 d-flex flex-row flex-lg-column align-items-center pt-2">
                    <i class="fa-solid fa-envelope me-2 me-lg-0"></i>
                    <a class="nav-link" href="#contacto">CONTACTO</a>
                </li>
            </ul>
            
        </div>
        </div>

        <div class="d-flex justify-content-center fs-4">
            <i class="fa-solid fa-user me-4"></i>
            <i class="fa-brands fa-instagram me-4"></i>
            <i class="fa-brands fa-facebook me-3"></i>
        </div>
    
    </div>
  </nav>
