.container {
    max-width: 1024px;
}

img:hover {
    cursor: pointer;
}

.nav-item:hover,
.nav-item:hover .nav-link,
.nav-item:hover i,
.nav-item:hover .fa-solid,
.nav-item:hover .fa-brands {
    color: green;
    cursor: pointer;
    transition: color 0.3s; 
}

.fa-brands:hover, .fa-solid:hover {
    color: green;
    cursor: pointer;
    transition: color 0.3s; 
}
