<nav class="navbar bg-light navbar-expand-lg p-0 border-bottom">
    <div class="container">

        <!-- Logo Tennis-->
        <img src="logorp.jpg" alt="Logo" style="height: 40px;" (click)="navigateToHome()">

        <!-- Toggle Btn -->
        <button 
            class="navbar-toggler shadow-none border-0" 
            type="button" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Sidebar -->
        <div 
            class="sidebar offcanvas offcanvas-start" 
            tabindex="-1" 
            id="offcanvasNavbar" 
            aria-labelledby="offcanvasNavbarLabel"
        >

        <!-- Sidebar Header -->
        <div class="offcanvas-header border-bottom">
            <h5 
                class="offcanvas-title" 
                id="offcanvasNavbarLabel">
                Club de Tenis
            </h5>

            <button 
                type="button" 
                class="btn-close" 
                data-bs-dismiss="offcanvas" 
                aria-label="Close">
            </button>
        </div>

        <!-- Sidebar Body -->
        <div class="offcanvas-body d-flex p-4 flex-column flex-lg-row p-lg-0">

            <ul class="navbar-nav d-flex justify-content-center fs-6 flex-grow-1 text-start text-lg-center">
                <li 
                class="nav-item mx-2 d-flex flex-row flex-lg-column align-items-center pt-2"
                (click)="navigateToElClubSobreNosotros()"
                [ngClass]="{'active': isActive('/el-club')}"
                >
                    <i class="fa-solid fa-house me-2 me-lg-0"></i>
                    <a class="nav-link" data-bs-dismiss="offcanvas">EL CLUB</a>
                </li>
                <li 
                class="nav-item mx-2 d-flex flex-row flex-lg-column align-items-center pt-2"
                (click)="navigateToCampeonatosDivisionDeHonor()"
                [ngClass]="{'active': isActive('/campeonatos')}"
                >
                    <i class="fa-solid fa-trophy me-2 me-lg-0"></i>
                    <a class="nav-link" data-bs-dismiss="offcanvas">CAMPEONATOS</a>
                </li>
                <li 
                class="nav-item mx-2 d-flex flex-row flex-lg-column align-items-center pt-2"
                >
                    <i class="fa-solid fa-newspaper me-2 me-lg-0"></i>
                    <a class="nav-link" data-bs-dismiss="offcanvas">NOTICIAS</a>
                </li>
                <li class="nav-item mx-2 d-flex flex-row flex-lg-column align-items-center pt-2">
                    <i class="fa-solid fa-star me-2 me-lg-0"></i>
                    <a class="nav-link" data-bs-dismiss="offcanvas">PATROCINADORES</a>
                </li>
                <li class="nav-item mx-2 d-flex flex-row flex-lg-column align-items-center pt-2">
                    <i class="fa-solid fa-envelope me-2 me-lg-0"></i>
                    <a class="nav-link" data-bs-dismiss="offcanvas">CONTACTO</a>
                </li>
            </ul>
            
        </div>
        </div>

        <div class="d-flex justify-content-center align-items-center fs-4">
            <i class="fa-solid fa-user me-4" data-bs-toggle="modal" data-bs-target="#login"></i>
            <a href="https://www.instagram.com/" target="_blank" class="text-dark">
                <i class="fa-brands fa-instagram me-4"></i>
            </a>
            <a href="https://facebook.com/" target="_blank" class="text-dark">
                <i class="fa-brands fa-facebook me-3"></i>
            </a>
        </div>
    
    </div>
  </nav>

  <!-- EL CLUB - Navbar -->
  <nav *ngIf="isClubNavbarVisible" class="navbar navbar-expand-lg navbar-secondary bg-light border-bottom">
    <div class="container">
      <ul class="navbar-nav d-flex justify-content-start flex-row">
        <li 
        class="nav-item border-end pe-2"
        (click)="navigateToElClubSobreNosotros()"
        [ngClass]="{'active': isActive('/el-club/sobre-nosotros')}"
        >
          <a class="nav-link">Sobre nosotros</a>
        </li>
        <li 
            class="nav-item"
            (click)="navigateToElClubHazteSocio()"
            [ngClass]="{'active': isActive('/el-club/hazte-socio')}"    
        >
          <a class="nav-link ms-2">¡Hazte socio!</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Campeonatos - Navbar -->
  <nav *ngIf="isCampeonatosVisible" class="navbar navbar-expand-lg navbar-secondary bg-light border-bottom">
    <div class="container">
      <ul class="navbar-nav d-flex justify-content-start flex-row">
        <li 
        class="nav-item border-end pe-2"
        (click)="navigateToCampeonatosDivisionDeHonor()"
        [ngClass]="{'active': isActive('/campeonatos/division-de-honor')}"
        >
          <a class="nav-link">División de Honor</a>
        </li>
        <li 
            class="nav-item border-end pe-2"
            (click)="navigateToCampeonatosPrimeraDivision()"
            [ngClass]="{'active': isActive('/campeonatos/primera-division')}"    
        >
          <a class="nav-link ms-2">Primera División</a>
        </li>
        <li 
            class="nav-item"
            (click)="navigateToCampeonatosSegundaDivision()"
            [ngClass]="{'active': isActive('/campeonatos/segunda-division')}"    
        >
          <a class="nav-link ms-2">Segunda División</a>
        </li>
      </ul>
    </div>
  </nav>