<div class="card mb-3 mt-3">
    <div class="row g-0">
      <div class="col-12 col-md-12 col-lg-4 d-flex d-lg-block justify-content-center align-items-center">
        <img src="https://images.pexels.com/photos/5741050/pexels-photo-5741050.jpeg?auto=compress&cs=tinysrgb&w=300" class="img-fluid w-100 rounded-start">
      </div>
      <div class="col-12 col-lg-8">
        <div class="card-body">
          <h5 class="card-title mb-3">¡Apúntate al Club de Tenis!</h5>
          <p class="card-text">
            ¿Te encanta el tenis? ¡No esperes más para formar parte de nuestro club! En el Club de Tenis, ofrecemos mucho más que solo pistas. Nos dedicamos a brindarte una experiencia deportiva completa, en un ambiente inclusivo y lleno de energía.
          </p>
          <h6>Mejora tu Juego y Conoce Gente con Tu Misma Pasión</h6>
          <p>
            En el Club de Tenis, no solo mejorarás tus habilidades, también harás amigos que comparten tu entusiasmo por el tenis. ¡Todos los niveles son bienvenidos! Ya seas principiante o experto, aquí encontrarás el reto adecuado para ti.
          </p>
          <h6>
            ¡No Lo Dejes para Después!
          </h6>
          <p>
            Haz de tu pasión por el tenis una parte esencial de tu vida diaria. ¡Únete ahora y empieza a vivir la experiencia de ser parte de un club único!
          </p>
          <h6> 
            ¡Únete ahora y empieza a vivir la experiencia de ser parte de un club único!
          </h6>
          <p>Este es el momento perfecto para unirte. Convierte tu amor por el tenis en una parte fundamental de tu rutina.</p>
          
          <button 
            class="btn btn-success text-white fw-bold"
            (click)="navigateToHazteSocio()"
            >
            ¡Hazte socio!
          </button>
        
        </div>
      </div>
    </div>
  </div>
