<div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title border-bottom pb-2">Victoria del Club en el Torneo</h5> 
      <p class="card-text">
        El Club de Tenis se llevó el primer lugar en el Torneo Regional de Tenis. Con actuaciones destacadas de sus jugadores principales, el club demostró una gran habilidad y determinación, asegurando la victoria y el trofeo.
      </p>
      <a href="#" class="text-decoration-none">Leer más</a>
    </div>
  </div>

  <div class="card mt-3" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title border-bottom pb-2">Nuevo Entrenador en el Club</h5> 
      <p class="card-text">
        El Club de Tenis ha contratado al reconocido entrenador internacional Juan Pérez. Con una vasta experiencia y un historial de éxitos, Pérez traerá nuevas estrategias y técnicas para elevar el nivel de juego del club.
      </p>
      <a href="#" class="text-decoration-none">Leer más</a>
    </div>
  </div>

  <div class="card mt-3" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title border-bottom pb-2">El Club Renueva sus Canchas</h5> 
      <p class="card-text">
        El Club de Tenis ha completado la renovación de sus canchas, incluyendo la instalación de nuevas superficies y la mejora de las instalaciones. Los miembros ahora disfrutan de un entorno moderno y óptimo para sus entrenamientos y partidos.
      </p>
      <a href="#" class="text-decoration-none">Leer más</a>
    </div>
  </div>

  <!-- <div class="card mt-3" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title border-bottom pb-2">Torneo Juvenil del Club</h5> 
      <p class="card-text">
        El Club de Tenis organizó su primer Torneo Juvenil del año, con la participación de jóvenes talentos locales. El evento fue un éxito rotundo, destacando las habilidades emergentes y promoviendo el desarrollo de futuros campeones
      </p>
      <a href="#" class="text-decoration-none">Leer más</a>
    </div>
  </div>

  <div class="card mt-3" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title border-bottom pb-2">Éxito en el Campeonato Local</h5> 
      <p class="card-text">
        El Club de Tenis brilló en el Campeonato Local, con varios de sus jugadores alcanzando las finales en diferentes categorías. La destacada actuación del club ha reforzado su reputación como uno de los principales clubes de la región.
      </p>
      <a href="#" class="text-decoration-none">Leer más</a>
    </div>
  </div> -->

  


 
