<div class="container">
    <h4 class="mb-3">División de Honor</h4>
    <div class="mb-4">
        <table class="table">
            <thead>
                <tr class="border-bottom border-dark">
                    <th class="bg-title text-white rounded-top-left">Pos.</th>
                    <th class="bg-title text-white">Jugador</th>
                    <th class="bg-title text-white">Victorias</th>
                    <th class="bg-title text-white">Derrotas</th>
                    <th class="bg-title text-white">JG</th>
                    <th class="bg-title text-white">JP</th>
                    <th class="bg-title text-white rounded-top-right">PT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-grey">1</td>
                    <td class="bg-grey">Novak Djokovic</td>
                    <td class="bg-grey">18</td>
                    <td class="bg-grey">2</td>
                    <td class="bg-grey">147</td>
                    <td class="bg-grey">53</td>
                    <td class="bg-grey">20</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Pedro León</td>
                    <td>17</td>
                    <td>3</td>
                    <td>138</td>
                    <td>59</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td class="bg-grey">3</td>
                    <td class="bg-grey">Teodoro García</td>
                    <td class="bg-grey">15</td>
                    <td class="bg-grey">5</td>
                    <td class="bg-grey">127</td>
                    <td class="bg-grey">67</td>
                    <td class="bg-grey">20</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Ambrosio Martínez</td>
                    <td>13</td>
                    <td>7</td>
                    <td>105</td>
                    <td>73</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td class="bg-grey">5</td>
                    <td class="bg-grey">Carlos Muñoz</td>
                    <td class="bg-grey">10</td>
                    <td class="bg-grey">10</td>
                    <td class="bg-grey">90</td>
                    <td class="bg-grey">79</td>
                    <td class="bg-grey">20</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Iñigo Ortega</td>
                    <td>7</td>
                    <td>13</td>
                    <td>70</td>
                    <td>105</td>
                    <td>20</td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <h4 class="mb-3">Resultados</h4>
    <div>
        <h5>Jornada 1</h5>
        <table class="table">
            <thead>
                <tr class="border-bottom border-dark">
                    <th class="bg-title text-white rounded-top-left">Partido</th>
                    <th class="bg-title text-white text-center">Resultado</th>
                    <th class="bg-title text-white text-center">Primer Set</th>
                    <th class="bg-title text-white text-center">Segundo Set</th>
                    <th class="bg-title text-white rounded-top-right text-center">Tercer Set</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bg-grey">
                        <b>Novak Djokovic</b>
                        <br>
                        Pedro León
                    </td>
                    <td class="bg-grey text-center">
                        <b>2</b>
                        <br>
                        1
                    </td>
                    <td class="bg-grey text-center">
                        <b>6</b>
                        <br>
                        3
                    </td>
                    <td class="bg-grey text-center">
                        4
                        <br>
                        <b>6</b>
                    </td>
                    <td class="bg-grey text-center">
                        <b>6</b>
                        <br>
                        2
                    </td>
                </tr>
                <tr>
                    <td class="">
                        <b>Teodoro García</b>
                        <br>
                        Carlos Muñoz
                    </td>
                    <td class="text-center">
                        <b>2</b>
                        <br>
                        1
                    </td>
                    <td class="text-center">
                        <b>6</b>
                        <br>
                        3
                    </td>
                    <td class="text-center">
                        4
                        <br>
                        <b>6</b>
                    </td>
                    <td class="text-center">
                        <b>6</b>
                        <br>
                        2
                    </td>
                </tr>
                <tr>
                    <td class="bg-grey">
                        <b>Ambrosio Martínez</b>
                        <br>
                        Iñigo Ortega
                    </td>
                    <td class="bg-grey text-center">
                        <b>2</b>
                        <br>
                        0
                    </td>
                    <td class="bg-grey text-center">
                        <b>6</b>
                        <br>
                        3
                    </td>
                    <td class="bg-grey text-center">
                        <b>6</b>
                        <br>
                        2
                    </td>
                    <td class="bg-grey text-center">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
