<div class="container">
    
    <div class="row align-items-center">
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <img src="inmobiliaria.png">
        </div>
        <div class="col-12 col-md-8">
            <h5>Inmobiliaria Rubpri</h5>
            <p>Llíder en el sector inmobiliario, ofreciendo soluciones de vivienda de alta calidad y un servicio excepcional. Con una sólida reputación en el mercado, se destaca por su compromiso con la excelencia, ayudando a familias y empresas a encontrar su espacio ideal. Desde elegantes apartamentos hasta amplias propiedades comerciales, está aquí para hacer realidad tus sueños inmobiliarios. Gracias a su apoyo, el Club de Tenis continúa creciendo y brindando experiencias deportivas inolvidables.</p>
        </div> 
    </div>
    
    <div class="row align-items-center mt-4">
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <img src="refresco.png">
        </div>
        <div class="col-12 col-md-8">
            <h5>Rubpri Fresh Drink</h5>
            <p>Tu fuente definitiva de frescura y sabor. Se enorgullece de utilizar ingredientes de la más alta calidad para brindarte una experiencia de sabor inigualable. Desde zumos naturales hasta bebidas carbonatadas, cada sorbo está diseñado para revitalizar y deleitar tus sentidos. Gracias a Rubpri Fresh Drink, el Club de Tenis puede ofrecerte momentos de refresco y energía en cada partido. ¡Descubre la frescura en cada botella y mantente al máximo rendimiento!</p>
        </div> 
    </div>

    <div class="row align-items-center mt-4">
        <div class="col-12 col-md-4 d-flex justify-content-center">
            <img src="coche.png">
        </div>
        <div class="col-12 col-md-8">
            <h5>Rubpri Car Rental</h5>
            <p>Te ofrece la libertad de moverte con estilo y comodidad. Especializados en el alquiler de vehículos de alta calidad. Con una amplia gama de coches modernos y bien mantenidos, su servicio al cliente excepcional y precios competitivos garantizan una experiencia de alquiler sin complicaciones. Gracias a Rubpri Car Rental, el Club de Tenis sigue creciendo y brindando a sus miembros un viaje sin preocupaciones. ¡Confía en Rubpri Car Rental para tu próximo viaje y experimenta la comodidad en cada kilómetro!</p>
        </div> 
    </div>

</div>
