<div class="container">

    <h4 class="text-dark">Sobre nosotros</h4>
    <br>
    <p>Bienvenidos al Club de Tenis, un espacio dedicado a la pasión por el tenis y el deporte. Fundado con la misión de promover el desarrollo personal y deportivo, nuestro club se ha convertido en un punto de encuentro para aficionados y profesionales que buscan disfrutar de un ambiente deportivo saludable y competitivo.   
    </p>
    <br>
    <p>
    En el Club de Tenis, contamos con modernas instalaciones que incluyen canchas de última generación, iluminación para juegos nocturnos y áreas de entrenamiento especializadas. Nuestro equipo de entrenadores está compuesto por profesionales altamente cualificados, que se dedican a enseñar tanto a principiantes como a jugadores experimentados, ayudándolos a mejorar su técnica y alcanzar sus objetivos.
    </p>
    <br>
    <p>
    Además de nuestras instalaciones, en el club promovemos una vida social activa a través de torneos, eventos, grupos y actividades para todas las edades. Fomentamos el espíritu de comunidad, la amistad y el respeto, creando un entorno en el que los socios pueden disfrutar no solo del deporte, sino también de momentos inolvidables junto a amigos y familia.
    </p>
    <br>
    <p>
    Únete al Club de Tenis y sé parte de una comunidad donde el deporte y la diversión van de la mano. Aquí, cada partido es una oportunidad para crecer y cada miembro es una parte esencial de nuestra historia.
    </p>
</div>